/**
 * Global Color Variables
 */
$mercury-base-color: #af957f;
$mercury-dark-color: #8f6050;
$venus-base-color: #f7fff0;
$venus-dark-color: #cfd2be;
$earth-base-color: #4f6ab0;
$earth-dirt-color: #af7065;
$earth-cloud-color: #f1f4f7;
$earth-green-color: #aeb065;
