@import "config";

.canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @import "sun";
  @import "spots";
  @import "earth";
  @import "mars";
}
